{% extends '_base.html'%}
{% load custom_filters %}
{% load i18n %}

{% block content %}
<div class="card card-border bg-base-200 w-full">
  <div class="card-body">
    <div class="overflow-x-auto">
      <form class="overflow-x-auto" method="GET" onsubmit="showProgress()">
          <div class="grid grid-cols-12 text-center">
            <div class="text-2xl">{{ model_name }}</div>
          </div>
          <div class="grid grid-cols-12">
              <div class="col-span-11">
                <input type="text" placeholder="{% translate 'Search'%}" class="input w-full" name="search" value="{{ request.GET.search }}">
              </div>
              <div class="col-span-1">
                  <button class="btn btn-square w-full" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>
                  </button>
              </div>
          </div>
      </form>
      <table class="table table-zebra">
        <!-- head -->
        <thead>
          <tr>
            <th style="width: 9em;">
              <a class="btn btn-square btn-primary" href="new/">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
              </a>
            </th>
            {% for table_display_field in table_display_fields %}
            <th>{% translate table_display_field %}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for record in records %}
          <tr>
            <td>
              <a class="btn btn-square btn-primary" href="{{ record.id }}/">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                </svg>
              </a>
              <a class="btn btn-square btn-error" href="{{ record.id }}/delete/">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
              </a>
            </td>
            {% for table_display_field in table_display_fields %}
            <td>{{ record | attr:table_display_field }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="text-center">
        <div class="join">
          {% for page_index in 0|range:page_obj.paginator.num_pages %}
              {% with page_index|add:1 as page_number %}
                  <a href="?page={{ page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
              <a href="?page={{ page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %} "class="join-item btn{% if page_obj.number == page_number %} btn-active{% endif %}">{{ page_number }}</a>
              {% endwith %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
